body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #020617;
    padding: 25px;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

h2 {
    text-align: center;
    color: #38bdf8;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    background: #1e293b;
    color: white;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #38bdf8;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background: #020617;
    border-radius: 10px;
    border: 1px solid #1e293b;
    font-size: 14px;
    line-height: 1.6;
}